<!DOCTYPE html>
<html lang="en">

<head>
	<title>Menu Application</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="static/styles/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="static/styles/dist/semantic.min.css">
	<script src="static/styles/dist/semantic.min.js"></script>
</head>
<body>
	<div class="intro-index">
		<h1>Welcome to Menu Alert</h1>
		<h2>This tool aims at alerting you when a particular dish that you want to eat is available at Skidmore Dining Hall</h2>
	</div>
	<button class="ui button">
  		Continue
	</button>
</body>
</html>
