{% extends "base.html" %}

{% block content %}
   <div class="ui text container">
      <h1 class="ui inverted header">
        Dhall Scraper
      </h1>
      <h2>Like to eat something in Dhall? Get notifications for it.</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
{% endblock %}

{% block extratext %}
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help You Know Ahead</h3>
          <p>It is extremely frustrating to get to Dhall and realize that your favorite food has been finished because it was a popular item. You can avoid it by knowing ahead of time what's being served. You can search for the current menu of the day.</p>
          <h3 class="ui header">We Give You Notifications</h3>
		  <p>Yes that's right, you can set notifications for certain keywords (like "beef", "marinated", "chicken"), and we'll send you notification when we see that an item of interest is being served that day.</p>
        </div>
        <div class="six wide right floated column">
          <img src="static/images/dhall/dhall.jpg" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>
{% endblock %}