<!DOCTYPE html>
<html lang="en">

<head>
	<title>Menu Application</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="static/styles/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="static/styles/dist/semantic.min.css">
	<script src="static/styles/dist/semantic.min.js"></script>
</head>
<body>
	<div class="intro-index">
		<h2 class="ui center aligned icon header">
	<i class="circular users icon"></i>
	Welcome to Menu Alert
	</h2>
	<h2 class="ui header">This tool aims at alerting you when a particular dish that you want to eat is available at Skidmore Dining Hall</h2>
	</div>
	<button class="ui button">
  		Continue
	</button>
	
	<h2>Contributors</h2>
	<div class="ui horizontal list">
	<div class="item">
			<img class="ui mini circular image" src="static/images/contributors/v.jpg">
			<div class="content">
			<div class="ui sub header">Vu</div>
			Developer
			</div>
		</div>
		<div class="item">
			<img class="ui mini circular image" src="static/images/contributors/p.jpg">
			<div class="content">
			<div class="ui sub header">Giorgos</div>
			Developer
			</div>
		</div>
	</div>
</body>
</html>
